#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 70%;
  /* max-width: 995px; */
  /* min-width: 300px; */
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 40px;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 310px;
  height: 100%;
}

.swiper-3d .swiper-slide-shadow-right {
  width: 310px !important;
  height: 100% !important;
  border-top-left-radius: 30% !important;
  background-image: linear-gradient(
    to left,
    rgba(41, 5, 65, 0.5),
    rgba(0, 0, 0, 0)
  ) !important;
}
.swiper-3d .swiper-slide-shadow-left {
    width: 310px !important;
  height: 100% !important;
  border-top-left-radius: 30% !important;
  background-image: linear-gradient(
    to left,
    rgba(41, 5, 65, 0.3),
    rgba(0, 0, 0, 0)
  ) !important;
}

/* .swiper-slide-visible{
    transform: translate3d(0px, 0px, -500px) rotateX(0deg) rotateY(-100deg) scale(1)!important;
    z-index: -1;
  transition: transform 300ms ease-in-out !important;
}

*/
.swiper-slide-next {
  transition: transform 300ms ease-in-out !important;
  transition-duration: 0ms;
  transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(-50deg)
    scale(1) !important;
  z-index: 0;
  flex-shrink: 0;
}
.swiper-slide-prev {
  transition: transform 300ms ease-in-out !important;
  transition-duration: 0ms;
  transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(50deg) scale(1) !important;
  z-index: 0;
}
.swiper-slide-active {
  transform: scale(1.3) !important;
  transition-duration: 0ms;
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important;
  z-index: 1;
  transition: transform 300ms ease-in-out !important;
}

@media (max-width:1000px) {
  .swiper{
    width: 100%;
  }
  
}