.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://i.ibb.co/2KxZKM5/Home-Mesa-de-trabajo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.home__button-menu {
  width: auto;
  height: auto;
  position: absolute;
  right: 90px;
  top: 80px;
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  object-fit: contain;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: transform 300ms ease-in-out;
  margin-top: 100px;
}

.home__button-menu:hover {
  background-color: rgb(72, 21, 153);
  transform: scale(1.2);
}

.home__button-menu img {
  background-color: none;
  object-fit: cover;
  width: 60px;
  height: 60px;
  color: white;
}

.cls-1 {
  color: green;
}

@media (max-width: 1040px) {
  .home__button-menu {
    top: 0;
    right: 40%;
    left: 40%;
  }
}
