.nav-bar__container-links {
  display: flex;
  color: white;
  width: 40%;
  height: 40px;
  justify-content: space-evenly;
  position: absolute;
  background-color: #441349;
  padding: 1px;
  align-items: center;
  right: 0px;
  margin-top: 50px;
}

.nav-bar__link {
  width: auto;
  height: 20px;
  font-size: 2rem;
  list-style: none;
  border: 1px solid white;
  display: grid;
  place-content: center;
  align-items: center;
  padding: 10px;
  transition: background-color 100ms ease-in-out;
}
.nav-bar__link:hover{
  background-color: #e693f0;
}
.nav-bar__link:hover a{
  color: #441349;
  font-weight: 600;
}
.nav-bar {
  position: relative;
  width: 100%;
  animation: initnavbar 200ms ease-in-out;
}

@keyframes initnavbar {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.nav-bar__container-links::after {
  width: 160px;
  height: 100px;
  background-color: #6e2c77;
  border-radius: 100%;
  z-index: 9999;
  content: "";
  position: absolute;
  background-image: url("/img/Logo_Silent_Voice.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  left: -150px;
}

.nav-bar__link a {
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;

}

@media (max-width: 1040px) {
  .nav-bar__container-links::after {
    display: none;
  }
  .nav-bar__container-links {
    width: 100%;
    position: relative;
    right: 0;
  }
}
