@font-face {
  font-family: "gabriola";
  src: url("/fonts/gabriola-font/Gabriola.ttf");
}
:root {
  font-size: 62.5%;
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "gabriola";
}



@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}